<div class="navbar-container">
  <ul class="navbar">
    <li><%= link_to 'Użytkownicy', users_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Pokoje', rooms_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Kategorie', categories_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Rezerwacje', reservations_path, class: 'navbar-link' %></li>
  </ul>
</div>
<br><br>

<p><%= notice %></p>

<%= render @user %>

<div class="action-buttons">
  <%= link_to "Edytuj użytkownika", edit_user_path(@user), class: "btn btn-warning btn-sm" %>
  <%= link_to "Wróć do użytkowników", users_path, class: "btn btn-secondary btn-sm" %>
  <%= button_to "Usuń", @user, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Czy na pewno chcesz usunąć tego użytkownika?" } %>
</div>

<style>
    p {
        font-size: 1rem;
        color: green;
        margin-bottom: 20px;
    }

    .action-buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
    }

    .action-buttons a,
    .action-buttons button {
        padding: 8px 15px;
        font-size: 0.9rem;
        border-radius: 5px;
        display: inline-block;
        text-decoration: none;
    }

    .btn {
        color: white;
        border-color: transparent;
        transition: background-color 0.3s ease;
    }

    .btn-warning {
        background-color: #ffc107;
    }

    .btn-warning:hover {
        background-color: #e0a800;
    }

    .btn-secondary {
        background-color: #6c757d;
    }

    .btn-secondary:hover {
        background-color: #5a6368;
    }

    .btn-danger {
        background-color: #dc3545;
    }

    .btn-danger:hover {
        background-color: #c82333;
    }
</style>
