<div class="navbar-container">
  <ul class="navbar">
    <li><%= link_to 'Użytkownicy', users_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Pokoje', rooms_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Kategorie', categories_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Rezerwacje', reservations_path, class: 'navbar-link' %></li>
  </ul>
</div>


<div id="<%= dom_id reservation %>">
  <p>
    <strong>User:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= reservation.room_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= reservation.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= reservation.end_date %>
  </p>

</div>
