<%= form_with(model: room) do |form| %>
  <% if room.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>
      <ul>
        <% room.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :category_ids, "Kategorie", style: "display: block" %>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name do |b| %>
      <div style="display: flex; align-items: center;">
        <%= b.check_box style: "margin-right: 5px;" %>
        <%= b.label %>
      </div>
    <% end %>
    <% if room.errors[:category_ids].any? %>
      <div class="category-error" style="color: red; margin-top: 10px;">
        <%= room.errors[:category_ids].first %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Zapisz", class: "submit-btn" %>
  </div>
<% end %>
