<div class="navbar-container">
  <ul class="navbar">
    <li><%= link_to 'Użytkownicy', users_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Pokoje', rooms_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Kategorie', categories_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Rezerwacje', reservations_path, class: 'navbar-link' %></li>
  </ul>
</div>

<br><br>

<p class="room-detail">
  <strong>Nazwa pokoju:</strong>
  <%= @room.name %>
</p>

<p class="room-detail">
  <strong>Cena:</strong>
  <%= @room.price %>
</p>

<p class="room-detail">
  <strong>Kategorie:</strong>
  <%= @room.categories.map(&:name).join(', ') %>
</p>


<div class="room-actions">
  <%= link_to 'Edytuj pokój', edit_room_path(@room), class: 'btn-edit' %>

</div>

<style>

    .room-detail {
        font-size: 1rem;
        padding: 15px;
        margin: 10px auto;
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        width: 100%;
    }


    .room-detail strong {
        color: #007bff;
        font-weight: bold;
    }


    .room-detail:hover {
        background-color: #f1f1f1;
        cursor: pointer;
    }


    .room-detail p {
        font-family: 'Arial', sans-serif;
        color: #333;
        line-height: 1.5;
    }


    .room-actions {
        margin-top: 20px;
        font-size: 1rem;
        text-align: center;
    }

    .btn-edit, .btn-delete {
        text-decoration: none;
        padding: 8px 16px;
        font-size: 0.9rem;
        border-radius: 5px;
        margin: 0 10px;
        display: inline-block;
    }

    .btn-edit {
        background-color: #28a745;
        color: white;
    }

    .btn-edit:hover {
        background-color: #218838;
    }

    .btn-delete {
        background-color: #dc3545;
        color: white;
    }

    .btn-delete:hover {
        background-color: #c82333;
    }
</style>
