
<div class="navbar-container">
  <ul class="navbar">
    <li><%= link_to 'Użytkownicy', users_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Pokoje', rooms_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Kategorie', categories_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Rezerwacje', reservations_path, class: 'navbar-link' %></li>
  </ul>
</div>


<div id="<%= dom_id category %>" style="padding: 10px; background-color: #f8f9fa; border: 1px solid #ccc; border-radius: 5px; margin-bottom: 15px;">
  <p>
    <strong style="font-size: 1.2rem; color: #333;">Nazwa:</strong>
    <%= category.name %>
  </p>
</div>
