<div class="navbar-container">
  <ul class="navbar">
    <li><%= link_to 'Użytkownicy', users_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Pokoje', rooms_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Kategorie', categories_path, class: 'navbar-link' %></li>
    <li><%= link_to 'Rezerwacje', reservations_path, class: 'navbar-link' %></li>
  </ul>
</div>


<% content_for :title, "Edytuj" %>

<h1 style="text-align: center; font-size: 2rem; color: #333; margin-bottom: 30px;">Edytuj kategorie</h1>

<%= render "form", category: @category %>

<br>

<div style="text-align: center; margin-top: 20px;">
  <%= link_to "Pokaż kategorię", @category, style: "margin-right: 15px; text-decoration: none; color: #007bff; font-size: 1rem;" %> |
  <%= link_to "Wróć do kategorii", categories_path, style: "margin-left: 15px; text-decoration: none; color: #007bff; font-size: 1rem;" %>
</div>
